.TodoList {
    display: flex;
    flex-direction: column;
    border:1px solid #3b3f47;
    padding: 10px;
}

.TodoList:focus {
    border: 0;
}

.TodoList input {
    border: 0;
    height: 22px;
    margin: 0 0 0 1px;
}

.TodoList__list {
    margin: 10px 0 0 0;
}

.TodoList--is-done {
    text-decoration: line-through;
}
